extends ../admin.pug

block modalScript
    script(src = "../Scripts/modal.js")
    script(src = "../Scripts/resize.js")
    script(src = "../Scripts/upload.js")
 
block modal
    div#shadow
    modal(name = `editPost-pid-${post.id}`)#modal
        img(src = `${post.image}`).thumbnail
        p.text.modal_text Original Size: #{post.originalSize}
        br
        div#error
        p.text.modal_thumb Thumbnail
        input(name = "file", type = "file").modal_file
        br
        p.text.modal_field_label Title
        input(name = "title", type = "text", value = `${post.title}`).modal_field
        br
        p.text.modal_field_label Description
        textarea(name = "description").modal_field #{post.description}
        br
        button(type = "button").submit#submit Submit
        button(type = "button").cancel#cancel Cancel
