doctype html
html(lang = "en")
    head
        title Morefield Astrophotography
        meta(charset = "utf-8")
        meta(content = "width=device-width, initial-scale=1", name = "viewport")
        link(rel = "stylesheet", type = "text/css", href = "../Styles/style.css")
        script(src = "../Scripts/jquery-3.4.1.js")
        script(src = "../Scripts/fontAwesome.js")
        script(src = "../Scripts/post.js")
    body
        header
            h1.title KEVIN MOREFIELD
            ul.text#nav_bar
                li.nav_item
                    button(onClick = `location.href="/"`).nav_button#home_button Home
                li.nav_item
                    button(onClick = `location.href="/?sect=about"`).nav_button#about_button About
                li.nav_item
                    button(onClick = `location.href="/?sect=contact"`).nav_button#contact_button Contact
                li.nav_item
                    button(onClick = `location.href="/?sect=purchase"`).nav_button#purchase_button Purchase
        div#full_screen
            img(src = `${post.image}`)#full_screen_img
            button.zoom_button#close_full_screen
                i.fas.fa-compress-arrows-alt
        div#post
            div#post_content
                div#post_thumb
                    div#thumb_container
                        img(src = `${post.image}`).thumbnail
                    div#zoom
                        button.zoom_button#open_full_screen
                            i.fas.fa-expand-arrows-alt
                        button.zoom_button#zoom_out
                            i.fas.fa-search-minus
                        button.zoom_button#zoom_in
                            i.fas.fa-search-plus
                div#post_info
                    h2.post_title.text #{post.title}
                    if post.description !== "null"
                        p.post_desc.text #{post.description}
                    if post.original_size !== null
                        p.post_size.text Full size: #{post.originalSize}
            div#post_buttons
                if prev !== null
                    button(onClick = `location.href="/${encodeURIComponent(collection.title)}/${encodeURIComponent(prev.title)}"`).nav_button#prev Previous
                button(onClick = `location.href="/${encodeURIComponent(collection.title)}"`).nav_button#back_button View Collection
                if next !== null
                    button(onClick = `location.href="/${encodeURIComponent(collection.title)}/${encodeURIComponent(next.title)}"`).nav_button#next Next
