extends gallery.pug

block modalScript
    script(src = "../Scripts/post.js")

block modal
    div#shadow
    modal#post_disp_modal
        div#close
            i(onClick = `location.href="/${encodeURIComponent(gallery)}"`).fas.fa-times#close_button
        div#modal_content
            div#modal_thumb
                img(src = `${cur.image_loc}`).thumbnail
            div#modal_info
                h2.modal_title.text #{cur.title}
                if cur.description !== "null"
                    p.modal_desc.text #{cur.description}
                if cur.original_size !== null
                    p.modal_size.text Full size: #{cur.original_size}
                //-p(style = `font-weight: "bold"`).modal_desc.text Print options:
                //-div#getPrint
                    select.sizes.modal_button
                        option.order_width #{"width: "}
                            p.price price
                        option.order_width #{"width: "}
                            p.price price
                        option.order_width #{"width: "}
                            p.price price
                        option.order_width #{"width: "}
                            p.price price
                    button.modal_button#add_to_cart Add to Cart 
        div#modal_buttons
            if prev !== null
                button(onClick = `location.href="/${encodeURIComponent(gallery)}/${encodeURIComponent(prev.title)}"`).modal_button#prev Previous
            if next !== null
                button(onClick = `location.href="/${encodeURIComponent(gallery)}/${encodeURIComponent(next.title)}"`).modal_button#next Next
